<body>
<table class="racer_table">
  <tr id="player_1">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

  <tr id='player_2'>
    <td class = "active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</body>

<script>
var game_id = <%= @game %>;
var player1_id = <%= @player1 %>;
var player2_id = <%= @player2 %>;
</script>