<div class="container">
  <h1>Welcome to JS RACER!!!</h1>
  
  <div id="registration">
    <form name="sign_up" action="#" method="post">
      <label for="email">Email</label>
      <input type="text" name="email">
      <label for="password">Password</label>
      <input type="password" name="password">

      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>
