<div class="container">
  <h1>Welcome to JS RACER!!!</h1>
  
  <div id="registration">
    <form name="sign_up" action="/game" method="post">
      <input id="email" type="text" name="name1" placeholder="Player 1 Initials">
      <input id="email" type="text" name="name2" placeholder="Player 2 Initials">
      <button type="submit">Start your engins!</button>
    </form>
  </div>
</div>
